<%- include("partials/header") -%>


<%= posts %>



<h1>
    <%= postTitle %>
</h1>





<p>
    <%= postContent(0 , 150) %> <a href="posts/<%= post.title %>">... Read More</a>
</p>



                <%- include("partials/footer") -%>