<%- include("partials/header") -%>






<h1>
    <%= postTitle %>
</h1>





<p>
    <%= postContent %> <a href="posts/<%= post.title %>">... Read More</a>
</p>



                <%- include("partials/footer") -%>